@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
   background: rgb(250,249,220);
   background: linear-gradient(167deg, rgba(250,249,220,1) 0%, rgba(148,233,207,1) 100%);
   }

.navbar{
    font-family: 'Pacifico', cursive;
}
.navbar a{
    color:tomato;
}
.navbar a:hover{
    color:#5063C3;
}


.navbar-toggler-icon{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='tomato' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


h1{
  font-family: 'Concert One', cursive;
  text-align:center;
  color:#DFC205;
  font-size:80px;
  padding:0;
  margin:0;
}

h2{
    font-family: 'Concert One', cursive;
     text-align:center;
     color:#DFC205;
     font-size:80px;
     padding-bottom:30px;
     margin:0;
   }

   #about{
    display:inline-block;
    text-align:center;
    font-family: 'Roboto Slab', serif;
    color:#5063C3;
    font-size:20px;
    padding-top:30px;
    
  }
  h3{
   font-family: 'Pacifico', cursive;
    font-weight:bold;
    font-size:40px;
    color:tomato;
  }
  .about-me p{
      padding:20px;
  }
